---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.objectid != nil' -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Sample Items" height="300" %}
  
  </div>
  <div class="col-md-4">  

    {% include feature/card.html text="To view all items in our collection visit: [Milton and Miltonia Collection](https://ocul-uwo.primo.exlibrisgroup.com/discovery/collectionDiscovery?vid=01OCUL_UWO:UWO_DEFAULT&collectionId=81710670340005163&lang=en)" header="View our Milton and Miltonia Collection" %}
    
    {% include index/time.html %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}
    
   

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
